    body {
     margin: 0;
     background-color: rgb(210, 210, 247);
    }
    .counting {
     /* color: white; */
     background-color:  #16ac86;
     height: 200px;
     /* margin: -10px -7px 0 -9px; */
     /* padding: 10px; */
     }
     .one {
         margin-right: 10px 20px 10px 30px;
         padding: 2% 10% 0 4%;
         margin-left: 152px;
         margin-top: -65px;
         color: white;
     }
     .logo {

         height: 50px;
         width: 60px;
         margin-left: 138px;
         margin-top: 40px;
     }
     .alphabets {
         background-color: white;
         /* margin: -8% 16% 0 16%; */
         height: 900px;
         height: 900px;
         width: 1000px;
         margin-left: 230px;
         margin-top: -90px;
         display: flex;
     }
     .b {
        color: grey;
        width: 20px;
        height: 17px;
     }
     .c{
        color: grey;
        width: 25px;
        height: 17px;
     }
     .d{
        color: black;
        
     }
     .e{
        color: black;
        
     }
     .f {
        color: black;
        
     }
     .g {
        margin-top: 35px ;
     }
     .h{
      width: 10px;
     }